.gray.p30
  .container.white.r10
    .row
      .col-sm-6
        .widget
          / - if current_user.fundraisers.any?
          /   .pull-right
          /     %button.btn.btn-success.btn-lg{"data-target" => "#log_miles_modal", "data-toggle" => "modal"}
          /       Log Miles

          %h1 Recent Activity
          - @activities.each do |activity|
            = render_activity(activity)

      .col-sm-6
        - if(@my_charities.any? || @my_fundraisers.any?) && (current_user.fundraiser?  || current_user.charity_admin? || current_user.admin?)
          .widget
            %h3 Total Miles Trained & Donations
            #miles_donations_chart{ style: 'height: 250px;'}
            :javascript
              $(function () {
                $('#miles_donations_chart').highcharts({
                  credits: {
                    enabled: false
                  },
                  chart: {
                    zoomType: 'xy'
                  },
                  title: {
                    text: ''
                  },
                  xAxis: [{
                    categories: #{ (1..7).map{ |x| (7-x).days.ago.strftime("%b %e") } }
                  }],
                  yAxis: [{ 
                    labels: {
                      formatter: function() {
                        return this.value +' miles';
                      },
                      style: {
                        color: '#89A54E'
                      }
                    },
                    title: {
                      text: 'Miles Trained',
                      style: {
                        color: '#89A54E'
                      }
                    },
                    opposite: true
          
                  }, { 
                    gridLineWidth: 0,
                    title: {
                      text: 'Donations',
                      style: {
                          color: '#4572A7'
                      }
                    },
                    labels: {
                      formatter: function() {
                        return '$' + this.value;
                      },
                      style: {
                          color: '#4572A7'
                      }
                    }
        
                  }],
                  tooltip: {
                    shared: true
                  },

                  series: [{
                    name: 'Donations',
                    color: '#4572A7',
                    type: 'column',
                    yAxis: 1,
                    data: #{ current_user.reportable_donations(7).map { |n| number_with_precision(n, precision: 2) }.to_s.gsub('"', '') },
                    tooltip: {
                        valuePrefix: '$'
                    }
          
                  }, {
                    name: 'Miles Trained',
                    color: '#89A54E',
                    type: 'spline',
                    data: #{ current_user.reportable_miles(7).map { |n| number_with_precision(n, precision: 2) }.to_s.gsub('"', '') },
                    tooltip: {
                        valueSuffix: ' miles'
                    }
                  }]
                });
              });
               
        - if @top_donations.any?
          .widget
            %h3 Top Donors
            %table.table
              %tr
                %th Name
                %th Amount
                / %th Fundraiser
              - @top_donations[0...10].each  do |top_donation|
                - user = User.where(:id=>top_donation[0]).first
                %tr
                  / %td= donation.user.name rescue "anonymous"
                  %td= user.try(:name)
                  %td= number_to_currency(top_donation[1])
                  / %td= donation.fundraiser.name
              



        - if @my_charities.any?
          .widget
            %h3 Top Fundraisers
            - @my_charities.each do |charity|
              - unless @my_charities.size == 1
                %strong= charity.name
              %table.table
                %tr
                  %th Fundraiser
                  %th Amount

                - charity.fundraisers.published.sort{|x|x.raised}[0...10].each do |fundraiser|
                  %tr
                    %td= link_to fundraiser.name, fundraiser
                    %td= number_to_currency(fundraiser.raised)


        .widget
          %h3 Fundraisers I'm Supporting
          .supported_fundraisers
            - if @supported_fundraisers
              - @supported_fundraisers.group_by(&:id).each do |fundraiser_id,fundraisers|
                - fundraiser = fundraisers[0]
                .supported_fundraiser{ style: 'padding: 5px; border: 1px solid #ccc;' }
                  .name= link_to fundraiser.name, fundraiser
                  .charity
                    supporting
                    = fundraiser.charity.name
                  
                  - pledge = fundraiser.donations.where(user_id: current_user.id,error_message: nil).sum(:per_mile_amount)
                  - if pledge and pledge > 0
                    .per_mile
                      Pledged: 
                      = number_to_currency(pledge)
                      per mile
                  - fixed = fundraiser.donations.where(user_id: current_user.id,error_message: nil).sum(:fixed_amount)
                  - if fixed and fixed > 0
                    .fixed
                      Amount:
                      = number_to_currency(fixed)

            - else
              %p You're not currently supporting any fundraisers.
    %br/


  / #log_miles_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "log_miles_modal_label", role: "dialog", tabindex: "-1"}
  /   .modal-dialog
  /     .modal-content
  /       = form_for TrainingLog.new do |f|
  /         .modal-header
  /           %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
  /           %h4#log_miles_modal_label.modal-title Log a Workout
  /         .modal-body
  /           = f.label :miles
  /           = f.text_field :miles
  /           = f.label :training_date
  /           = f.text_field :training_date,:class=>"training_date",:readonly=>true
  /         .modal-footer
  /           %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
  /           = f.submit 'Save Miles', class: 'btn btn-primary'
