= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.label :name
  .form-group
    .col-sm-6{ style: 'padding-left: 0;'}
      = f.text_field :first_name, class: "form-control", placeholder: "First Name"
    .col-sm-6
      = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
    .clearfix  
  .form-group
    = f.label "email *"
    .col-sm-12{ style: 'padding-left: 0'}
      = f.email_field :email, class: "form-control", placeholder: "Email"
    .clearfix    
  .form-group
    = f.label "password *"
    .col-sm-12{ style: 'padding-left: 0'}
      = f.password_field :password, class: "form-control", placeholder: "Password"
    .clearfix    
  .form-group
    = f.label "password_confirmation *"
    .col-sm-12{ style: 'padding-left: 0'}
      = f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"
    .clearfix      
  %div= f.submit "Sign up", class: 'btn btn-success'