.gray.p30
  .container.white.r10
    .row
      .col-sm-12
        %h1 Fundraisers

        - if @my_fundraisers.present?

          %h3 My Fundraisers
          %table.table
            %tr
              %th Name
              %th Event
              %th Athlete
              %th Charity
              %th Raised
              %th Status

            - @my_fundraisers.each do |fundraiser|
              %tr
                %td= link_to fundraiser.name,fundraiser
                %td= link_to fundraiser.event.name,event_path(fundraiser.event) if fundraiser.event
                %td= fundraiser.user.full_name
                %td= link_to fundraiser.charity.name,charity_path(fundraiser.charity) if fundraiser.charity
                %td= number_to_currency(fundraiser.raised)
                %td= fundraiser.status

        - if @fundraisers.present?

          %h3 All Fundraisers
          %table.table
            %tr
              %th Name
              %th Event
              %th Athlete
              %th Email
              %th Charity
              %th Raised
              %th Status

            - @fundraisers.each do |fundraiser|
              %tr
                %td
                  - if fundraiser.draft? && !current_user.admin?
                    = fundraiser.name
                  - else  
                    = link_to fundraiser.name,fundraiser
                %td= link_to fundraiser.event.name ,event_path(fundraiser.event) if fundraiser.event
                %td= fundraiser.user.full_name if fundraiser.user
                %td= fundraiser.user.email if fundraiser.user
                %td= link_to fundraiser.charity.name,charity_path(fundraiser.charity) if fundraiser.charity
                %td= number_to_currency(fundraiser.raised)
                %td= fundraiser.status