- content_for :body_class, 'fundraisers new'
.gray.p30
  .container
    .row
      .col-sm-6.col-sm-offset-3.white.r10
        .p30
          %h1.text-center Start a Fundraiser

          - if @fundraiser.errors.any?
            .bs-callout.bs-callout-danger
              %h3 We could not create your fundraiser because it had the following errors:
              %ul
                -
                - @fundraiser.errors.full_messages.each do |error_msg|
                  - error_msg = error_msg.gsub("Event happens on ","")
                  %li= error_msg

          = form_for @fundraiser do |f|
            .form-group
              = f.label "name *"
              = f.text_field :name, class: 'form-control', placeholder: "Ex. #{current_user.name}'s Run"

            - unless @fundraiser.new_record?
              .form-group
                = f.label :goal
                .input-group
                  %span.input-group-addon $
                  = f.text_field :goal, class: 'form-control', placeholder: 'Ex. 1000.00'

              .form-group
                = f.label "Anticipated Weekly Mileage"
                = f.text_field :weekly_mileage, class: 'form-control', placeholder: "Anticipated Weekly Mileage"
              
              .form-group
                = f.label :image
                = f.file_field :image, class: 'form-control'
            
            .form-hidden
              = f.hidden_field :charity_id
              = f.hidden_field :event_id
              - if (params[:charity_id].present? || @event.present?)
                = f.hidden_field :from_event_page, value: true
            
            .fundraiser_charity
              .form-group
                = label_tag "charity *"
                = text_field_tag :charity, '', name: nil, placeholder: 'Search for charity by name. Ex. American Red Cross', class: 'form-control', autocomplete: 'off'
              
              .charities_container
              .new_resource.hide
                = f.fields_for :charity do |charity_form|
                  .form-group
                    = charity_form.label :name, 'Charity Name *'
                    = charity_form.text_field :name, class: 'form-control'
                  .form-group
                    = charity_form.label :contact, 'Contact Name'
                    = charity_form.text_field :contact, class: 'form-control'
                  .form-group
                    = charity_form.label :phone
                    = charity_form.text_field :phone, class: 'form-control'
                  .form-group
                    = charity_form.label :email, 'Email'
                    = charity_form.text_field :email, class: 'form-control'
                  .form-group
                    = charity_form.label :website, 'Website'
                    = charity_form.text_field :website, class: 'form-control'  
                  .form-group
                    = charity_form.label :description, 'Any other info'
                    = charity_form.text_field :description, class: 'form-control'
            
            .fundraiser_event
              .form-group
                = label_tag "event *"
                = text_field_tag :event, '', name: nil, placeholder: 'Search for your event by name. Ex. Boston Marathon', class: 'form-control', autocomplete: 'off'
              .events_container
              .new_resource.hide
                = f.fields_for :event do |event_form|
                  .form-group
                    = event_form.label :name, 'Event'
                    = event_form.text_field :name, class: 'form-control'
                  .form-group
                    = event_form.label :happens_on
                    = event_form.text_field :happens_on, class: 'form-control datepicker'
                  
            .form-action
              = f.submit "Start My Fundraiser", class: 'btn btn-success btn-exlg', style: 'width: 80%; text-align: center; margin: auto; display: block;'

:javascript
  $(document).ready( function() {
    if(#{@charity.present?}){
      $("#fundraiser_charity_id").val("#{@charity.try(:id)}")
      $("#fundraiser_event_id").val("#{@event.try(:id)}")
      $("#event").val("#{@event.try(:name)}")
      $("#charity").val("#{@charity.try(:name)}")
      $("#charity").attr('disabled','disabled')
      if(#{@event.present?})
        $("#event").attr('disabled','disabled')
      }
  } );
