- content_for :body_class, "fundraisers fundraiser_#{@fundraiser.id} show"
- content_for :social_title, @fundraiser.name
- content_for :social_image, @fundraiser.image.url(:profile)

- if @fundraiser.draft? && current_user == @fundraiser.user
  .publish_bar{ style: 'background: #32020f; color: white; padding: 10px;' }
    .container
      .pull-right
        = link_to 'Publish Fundraiser', [:publish, @fundraiser], class: "btn btn-success #{'disabled' if !@fundraiser.charity.connected_with_stripe? || current_user != @fundraiser.user}"

      %h4{ style: 'margin: 5px 0;'} Your fundraiser is currently saved as a draft. 
      - unless @fundraiser.charity.connected_with_stripe?
        %div{ style: 'max-width: 650px;'}
          However, you can't publish it yet because your chosen charity has not completed the registration process. We will be getting in touch with them soon to walk them through the process.
          

.gray.p30
  .container.white.r10
    .row
      .col-sm-6
        - if @fundraiser.image.url.present?
          .image{style: 'margin-bottom: 10px;'}
            = image_tag @fundraiser.image.url(:profile)
        -else
          =image_tag("fundraiser-logo.png")    

        - if @fundraiser.user == current_user
          = form_for @fundraiser,:html=>{:class=>"validate_form"} do |f|
            = f.file_field :image, class: 'form-control required', style: 'margin-bottom: 5px;',"data-msg-required"=>"You must choose a new file before you can update the image"
            %div
              = f.submit "Update Image", class: 'btn btn-primary'
              %span.text-muted (only jpg, jpeg, gif, png file)

      .col-sm-6
        %h1
          = best_in_place_if @can_edit, @fundraiser, :name, type: :input
          %br/
          - if @fundraiser.published?
            :erb
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=868321799980028";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
            %div{ class: "fb-share-button", data: { href: fundraiser_url(@fundraiser), type: "button_count"} }
            %a{ href: "https://twitter.com/share", class: "twitter-share-button", data: { via: "Frundraise" }} Tweet
            :erb
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              
              <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
              <g:plusone></g:plusone>
        
        %h4
          Event: 
          = "#{@fundraiser.event.name} on #{@fundraiser.event.happens_on.to_s(:long)}"
        
        %h4
          Total Miles: 
          = pluralize(@fundraiser.total_miles, 'Mile')

        -if @fundraiser.user == current_user
          %h4
            Anticipated Weekly Mileage:
            -if @can_edit
              = best_in_place_if @can_edit, @fundraiser, :weekly_mileage, type: :input           
            -else
              = @fundraiser.weekly_mileage.blank? ? 'Not Mentioned' : "#{@fundraiser.weekly_mileage} miles"
          
        %h4
          Fundraising Goal:
          -if @can_edit
            = best_in_place_if @can_edit, @fundraiser, :goal, type: :input, display_with: :number_to_currency           
          -else
            = @fundraiser.goal.blank? ? 'Not Mentioned' : number_to_currency(@fundraiser.goal)

        %h4
          Amount Raised:
          = number_to_currency(@fundraiser.raised)
      
        = link_to "Support #{@fundraiser.user.display_first_name}", [:new, @fundraiser, :donation], class: "btn btn-lg btn-success #{'disabled' if !@fundraiser.charity.connected_with_stripe? || @fundraiser.draft?}", data: { 'no-turbolink' => ''},disabled: @fundraiser.completed?
        -if @can_edit && @fundraiser.published?
          %button.btn.btn-success.btn-lg{"data-target" => "#log_miles_modal", "data-toggle" => "modal",disabled: @fundraiser.completed?} Log Miles
          
      .col-sm-8
        %h3= "#{@fundraiser.user.display_first_name}'s Story"
        = best_in_place_if @can_edit, @fundraiser, :story, type: :textarea,:nil=>show_inline_story_heading(nil),:display_with => lambda {|v| show_inline_story_heading(v).html_safe}
        %br
        %table.table.table-bordered
          %thead
            %tr
              %th 
                Workout Name
              %th
                Training Date
              %th Miles  
              - if @can_edit
                %th Manage
          %tbody
            - @training_logs.each do |training_log|      
              %tr
                %td
                  = training_log.workout_name
                %td
                  = training_log.training_date.to_s(:long)
                %td  
                  = training_log.miles
                - if @can_edit  
                  %td
                    - if can_edit_training_log?(training_log)
                      = link_to "Delete" ,training_log_path(training_log),:method=>:delete,data: { confirm: 'Are you sure?' },:class=>"btn btn-warning"
        = paginate @training_logs

      .col-sm-4
        .charity
          %h3= "About #{@fundraiser.user.display_first_name}'s Charity"
          .logo.r10
            - if @fundraiser.charity.logo.url.present?
              = image_tag @fundraiser.charity.logo.url(:thumb)
            -else
              =image_tag("charity-logo.jpg",:style=>"background: gray;width: 100%; height: 175px;'")  
          %h4= @fundraiser.charity.name
          %p= @fundraiser.charity.description
          %br/  
                      
        
#log_miles_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "log_miles_modal_label", role: "dialog", tabindex: "-1"}
  .modal-dialog#log_mile
    .modal-content
      = form_for(@fundraiser.training_logs.new,:html=>{:id=>"log_mile_form"})do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
          %h4#log_miles_modal_label.modal-title Log a Workout
        .modal-body
          = f.label :workout_name
          = f.text_field :workout_name,:class=>"required form-control ",:required=>true
          = f.label :miles
          = f.text_field :miles,:class=>"required form-control",:required=>true
          = f.label :training_date
          = f.text_field :training_date,:class=>"training_date required form-control",:readonly=>true,:required=>true
          = f.hidden_field :fundraiser_id,:value=>@fundraiser.id
          
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit 'Save Miles', class: 'btn btn-primary'
    
