.row
  .col-sm-4.new_user_session_form
    .well{ style: 'margin-top: 20px'}
      %h2{ style: 'margin-top: 0'} Sign In
      = render 'devise/sessions/new_form'    
  
  .col-sm-8.new_user_registration_form
    %h2 New to Frundraise?
    %p Creating a Frundraise account is easy.
    = render 'devise/registrations/new_form'