Hi,
Donation [<%= @donation.id %>/<%= @donation.parent_id%>] failed  <br />
Error: <%= @error %>  <br />
Fundraiser: <%= @donation.fundraiser.name %>  <%= @donation.fundraiser.id %>,
<br />
User: <%= @donation.user.id %>
<br />
Donation/Pledge date : <%= @donation.created_at%>/<%= @donation.pledge_date%>