.gray.p30
  .container.white.r10
    .row
      .col-sm-12
        %h1 Users
        %table.table
          %thead
            %tr
              %th Email
              %th Name
          %tbody
            - @users.each do |user|
              %tr
                %td= user.email
                %td= user.full_name