= link_to 'Dashboard', dashboard_path,:class=>active_class("dashboard")
- if current_user.admin?
  = link_to 'Users', users_path
- unless current_user.supporter?  
  = link_to 'Fundraisers', fundraisers_path,:class=>active_class("fundraiser")
-if current_user.admin? || current_user.charity_admin?
  = link_to 'Charities', charities_path,:class=>active_class("charity")
= link_to 'Donations', donations_path,:class=>active_class("donation")
= link_to 'Events', new_event_path,:class=>active_class("events")