- if user_signed_in?
  = link_to 'Dashboard', dashboard_path ,:class=>active_class("dashboard")
= link_to 'Start a Fundraiser', new_fundraiser_path,:class=>active_class("new_fundraiser")
= link_to 'How It Works', '/how-it-works',:class=>active_class("how-it-work")
= link_to 'Charities', info_charities_path,:class=>active_class("charity")
= link_to 'Events', new_event_path,:class=>active_class("events")