- content_for :body_class, 'home'
- content_for :page_title, 'Frundraise - Fundraising tool specifically for runners'

.billboard
  .container
    #homeActions
      = link_to "Start your fundraiser", new_fundraiser_path
      = link_to "Add your charity", new_charity_path
.featured.gray
  .container
    .row
      
      .col-sm-12.charities
        %h2 Featured Charity
        - @charities.each do |charity|
          .charity
            .image
              -if charity.logo.url.present?
                = link_to image_tag(charity.logo.url(:thumb)), charity
              -else
                =image_tag("charity-logo.jpg",:style=>"width: 158px; height: 100px;'")    
            .info
              %h3= link_to charity.name, charity
              %p= truncate(charity.description,:length=>550)

      
      / .col-sm-4.events
      /   %h2 Featured Events
      /   .white.r10.p20
      /     - @events.each do |event|
      /       .event
      /         .details
      /           .name= link_to event.name, event
      /           .happens_on= event.happens_on.to_s(:long) if event.happens_on
      /         .stats.clearfix
      /           .athletes
      /             .value= event.fundraisers.published.count
      /             .type Athletes
      /           .miles_trained
      /             .value
      /               = pluralize(event.miles_trained, "Mile")

      /             .type Trained
      /           .donations
      /             .value= number_to_currency(event.donations_total)
      /             .type Raised