.gray.p30
  .container.white.r10{style: "min-height:450px;padding-top: 100px;"}
    .row
      .col-sm-12{style: "padding: 0px 275px;"}
        Share the following link with your athletes so that they can start their fundraisers. You can copy this link to your event registration website, in newsletter emails to the athletes, or anywhere else.
        %br
        %br
        .text-center
          = link_to event_url(@event), event_url(@event) if @event.present?
        %br
        %br  
        Are you the charity administrator for one of your charity partners? If so, 
        = link_to "create your charity profile now.", new_charity_path
