.gray.p30
  .container
    .row
      .col-sm-12.white.r10
        .p30          
          .donation_form
            .container
              .row.text-center
                .col-sm-12
                  %h1
                    Register your Event
                  Event coordinators, create your event and link it to one or more charity partners. This will create an event page where your athletes can start their fundraisers.
              %br
              %br
              .row
                .col-sm-8.col-sm-offset-2
                  %p.errors.hide{ style: "background-color: #f2dede; text-align: center; margin-bottom: 20px; padding: 15px;" } Please agree to the terms of this website by checking the box below.
                  = form_for @event, class: 'form-horizontal validate_form' do |f|
                    - if @event.errors.any? || @event.charity_request.try(:user).try(:errors).try(:any?)
                      .bs-callout.bs-callout-danger
                        %h3 We could not create your event because it had the following errors:
                      %div#error_explanation{:style=>"padding-left: 100px;"}
                        %ul
                          - if @event.errors.any?
                            - @event.errors.values.each do |msg| 
                              %li 
                                =msg.first
                          - if @event.charity_request.user.errors.any?
                            - @event.charity_request.user.errors.full_messages.each do |msg| 
                              %li 
                                =msg

                    .form-group.row#fixed_donation_container
                      = f.label :name, 'Event name:', class: 'col-sm-3 control-label text-right'
                      .col-sm-6
                        .input-group.col-sm-8
                          = f.text_field :name, class: 'form-control number required'

                    .form-group.row#fixed_donation_container
                      = f.label :happens_on,"Happens on:", class: 'col-sm-3 control-label text-right'
                      .col-sm-6
                        .input-group
                          = f.text_field :happens_on, class: 'form-control datepicker'

                    = f.fields_for :charity_request do |charity_form|
                      .form-group.row#fixed_donation_container
                        = charity_form.label :charities, 'Charity Partners:', class: 'col-sm-3 control-label text-right'
                        .col-sm-6
                          .input-group.col-sm-8
                            = charity_form.text_area :charities, class: 'form-control required'
                      %hr
                    - unless user_signed_in?
                      .form-group.row
                        .col-sm-3.text-right
                          Account Details:
                        .col-sm-6
                          = link_to "Already have an account?",new_event_path(login: true)

                      .form-group.row#pledge_donation_container
                        .col-sm-3.control-label.text-right
                        .col-sm-4
                          = text_field_tag :first_name, @event.charity_request.try(:user).try(:first_name),name: "user[first_name]" ,class: 'form-control required'
                          First name
                        .col-sm-4
                          = text_field_tag :last_name,@event.charity_request.try(:user).try(:last_name),name: "user[last_name]" ,class: 'form-control required'
                          Last name

                      .form-group.row#fixed_donation_container
                        .col-sm-3.control-label.text-right
                        .col-sm-8
                          .input-group.col-sm-12
                            = text_field_tag :email,@event.charity_request.try(:user).try(:email),name: "user[email]", class: 'form-control required'
                          Email *
                    - if user_has_phone_number?
                      .form-group.row#fixed_donation_container
                        = f.label :phone_number, 'Phone Number:', class: 'col-sm-3 control-label text-right'
                        .col-sm-6
                          .input-group.col-sm-8
                            = text_field_tag :phone_number,@event.charity_request.try(:user).try(:phone_number),name: "user[phone_number]", class: 'form-control number required'

                    - unless user_signed_in?
                      .form-group.row#fixed_donation_container
                        .col-sm-3.control-label
                        .col-sm-8
                          .input-group.col-sm-12
                            = password_field_tag :password,"",name: "user[password]",maxlength: "10", class: 'form-control number required'
                          Password *

                      .form-group.row#fixed_donation_container
                        .col-sm-3.control-label
                        .col-sm-8
                          .input-group.col-sm-12
                            = password_field_tag :password_confirmation,"",name: "user[password_confirmation]",maxlength: "10", class: 'form-control number required'
                          Password confirmation *

                    .form-group.row
                      .col-sm-9.col-sm-offset-3
                        = f.submit class: 'btn btn-success'


