- content_for :body_class, 'charities info'

.gray.p30
  .container.white.r10
    .row
      .col-sm-12
        %h1
          = "#{@event.name} on #{@event.happens_on.to_s(:long)}"
        .atheletes.text-center
          = pluralize(@event.fundraisers.published.count, 'Athlete')
        .atheletes
          
        .miles_trained.text-center
          = @miles_trained
          Total Miles
        .raised.text-center
          Total Raised:
          = number_to_currency(@amount_raised)

        - if @charity_partners.size > 0  
          %h3 Charity Partners
      .col-sm-12        
        .charities
          - @charity_partners.each_with_index do |charities, index|
            .row
              - charities.each_with_index do |charity, i|
                - if charity
                  .col-md-4
                    .charity
                      .image
                        .vertical_center
                          -if charity.logo.url.present?
                            = link_to image_tag(charity.logo.url(:profile)), charity
                          -else  
                            = link_to image_tag("charity-logo.jpg"), charity
                      .details
                        .name= link_to charity.name, charity
                        .stats
                          = number_to_currency(charity.raised_for_event(@event)) 
                          Raised  - 
                          = charity.supporters_for_event(@event)
                          Supporters
                        .support-charity
                          = link_to "Start Your Fundraiser",new_fundraiser_path(charity_id: charity.id, event_id: @event.id), class: 'btn btn-success'
      
        - if @event.fundraisers.published.present?  
          %h4 Active Fundraisers
    .row
      - @event.fundraisers.published.sort_by {|x| x.raised}.reverse.each do |fundraiser|
        %div.media.col-sm-4
          %a.pull-left{:href=>fundraiser}
            - if fundraiser.image_url.present?
              %img.media-object{:src=>fundraiser.image.url(:profile),:style=>"width: 64px; height: 64px;"}
            - else   
              =image_tag("fundraiser-logo.png",:class=>"media-object",:style=>"width: 64px; height: 64px;")
          %div.media-body
            %h5.media-heading 
              =link_to fundraiser.name,fundraiser
            %div
              Charity:
              = link_to fundraiser.charity.name,charity_path(fundraiser.charity)  
            %div
              Fundraising Goal :
              - if fundraiser.goal.blank?
                Not Mentioned
              -else 
                = number_to_currency(fundraiser.goal)        
            %div
              Amount Raised:
              = number_to_currency(fundraiser.raised)
            %div 
              Total Miles:
              = pluralize(fundraiser.total_miles, 'Mile')  
             
    
    %br