.gray.p30
  .container
    .row
      .col-sm-6.col-sm-offset-3.white.r10
        %h1.text-center About Us
        %p It is your dreams. It is your passions. It is what motivates you to go that extra mile. It is what gets you back on your feet when you fall. It is bigger than you and it is bigger than me. It will change the world. Frundraise is all about being active, giving back, and training for something bigger than yourself. 
        %p Training for and competing in an event like a marathon is one of the most difficult physical challenges many people will ever take on. Crossing the finish line is an accomplishment in itself, but Frundraise is about making it bigger than just that. When you add fundraising for a charity that is important to you or has made a difference in your life, and bring the support of your friends and family along, crossing that finish line on race day will be more rewarding than you could ever have imagined. 
        %p Frundraise is based in Colorado and was founded in 2013 by Nick Morrison. Nick is a runner and triathlete and first came up with the idea for Frundraise when he started planning his training for Ironman Wisconsin 2014. As part of his training, he wanted to start a fundraiser for a charity he is involved with called Friends of Amani which helps fund a children’s home in Tanzania for street orphans. When he attempted to start an online fundraiser, he was disappointed to find that there were no specialized websites for runners or triathletes and hence the idea for Frundraise was born.

        Questions?
        If you have additional questions about Frundraise, please send us an email at 
        %a{:href => "mailto:admin@frundraise.com", :target => "_blank"} admin@frundraise.com
        = "."
        %br
        %br