= content_for(:body_class){ 'pages how-it-works' }
.gray.p30
  .container.white.r10
    .row
      .col-md-12
        %h1.text-center How It Works
        .steps
          .row.step-1
            .col-sm-2.col-sm-offset-2.text-right= image_tag("how-step-1.jpg")
            .col-sm-6
              %h2 Step 1: Start Your Fundraiser
              %p
                Let everyone know what event you’re training for and what charity you’re supporting. If your charity isn’t on Frundraise yet, don’t worry. We’ll contact them and help them sign up.
          .row.step-2
            .col-sm-2.col-sm-offset-2.text-right= image_tag("how-step-2.jpg")
            .col-sm-6
              %h2 Step 2: Setup Your Profile
              %p
                Pick a picture. Tell your story. Let everyone know about your training goals, fundraising goals, and why the charity is important to you. 
          .row.step-3
            .col-sm-2.col-sm-offset-2.text-right= image_tag("how-step-3.jpg")
            .col-sm-6
              %h2 Step 3. Invite Friends & Family To Support You
              %p
                Share all of your hard work with everyone you know so that they can support you and your cause. Invite them by clicking the sharing buttons for Facebook, Twitter or Google Plus.
          .row.step-4
            .col-sm-2.col-sm-offset-2.text-right= image_tag("how-step-4.jpg")
            .col-sm-6
              %h2 Step 4: Train hard!
              %p
                Update your fundraiser profile page with all of the workouts that you complete so that your supporters know how hard you are training and so that you can collect your pledges.
        .faqs
          %h2.text-center Frequently Asked Questions
          .row
            .col-sm-8.col-sm-offset-2
              %h3 What is Frundraise?
              %p Frundraise is a fundraising website with specialized tools for runners, cyclists, triathletes, and all endurance athletes to raise money for their favorite charity as part of their training for an event. 
                
              %h3 Are donations tax-deductible?
              %p Yes. Donations go directly to the charity so they are tax deductible to the maximum amount allowed by law. Supporters will get a receipt from Frundraise and in many cases from the charity.
              %h3 Is my credit card/payment information secure?
              %p Frundraise processes donations through Stripe. Stripe is a third party organization that provides safe payment processing services so all your financial information is safe. You can learn more about Stripe at support.stripe.com. 
              %h3 Where does my donation go?
              %p Unlike many fundraising and crowd sourcing websites, Frundraise sends your donation directly to the charity’s account. No intermediaries, no holding accounts. You can rest assured that your donation will make it safely to the charity so that the charity can put that money to good use. 
              %h3 When does the charity get my donation?
              %p Immediately! Since Frundraise sends the donation directly to the charity’s account, there is no waiting period.
              %h3 Do I need an account to make a donation?
              %p Frundraise will automatically set up a free account for you when you make a donation. This will allow you to track the athletes you are supporting and their fundraisers as well as track the donations you make and print receipts. 
              %h3 When is my pledge processed?
              %p Pledges are processed on a monthly basis. The first pledge is processed  one month after you make a pledge. Final pledge is processed 10 days after the event.
              %h3 What happens with a pledge at the end of a fundraiser?
              %p The last pledge is processed 10 days after the event.
              %h3 Can you give me an example of when pledges are processed?
              %p Sure! Let’s say Amy’s fundraiser is for an event on November 2. Ryan makes a pledge to support Amy on August 18. Ryan’s pledge will be processed on September 18, October 18, and November 12.
              %h3 Which miles/training logs count towards a pledge?
              %p Every mile that the athlete logs after a pledge is created count towards that pledge. If the athlete logged miles before a pledge is created, those miles do not count towards the pledge.
              %h3 How does the monthly maximum amount work for pledges?
              %p When a pledge is processed, Frundraise multiplies the number of miles the athlete trained in the last month by the amount of the pledge. If that amount is more than the monthly maximum, then the donation is processed as the monthly maximum.  
              %h3 What does a charity need to do to create a profile?
              %p As a charity, you need to create a profile for your charity on Frundraise and link it to your Stripe account so that you can accept donations. Your Frundraise profile consists of a description of the charity, a picture or logo, and a link to the charity's website. 
              %h3 What are the requirements for a charity to be able to sign-up for Frundraise?
              %p Charities can be a US-based charitable organization authorized to receive tax-deductible donations as defined by the IRS. This includes but is not limited to charitable organizations; churches; schools; colleges; universities; hospitals; medical research organizations; homes for the elderly or handicapped and low income housing; and organizations providing scholarships, fellowships, educational loans, or other educational grants to individuals. Frundraise verifies the charity’s status on GuideStar.
              %p Charities can also be amateur athletic teams such as a high school or college cross country team. In those cases, the athletes on the team can use Frundraise to raise money for their team. 
              %p Charitable organizations based in countries outside of the United States are also allowed on Frundraise. Foreign-based charitable organizations must have a similar standing in their country to the requirements for US-based charitable organizations.
              %p Frundraise is not intended to be used to raise money for an athlete’s personal expenses. For example, a cyclist cannot use Frundraise to raise money for a new set of race wheels.
              %p If you have questions about whether or not your can use Frundraise to raise money for your cause, email us at admin@frundraise.com. In most cases, if you are an organization that is charitable in nature, then you can use Frundraise.

              %h3 What is GuideStar?
              %p GuideStar is a third party organization that collects information from the IRS and charities. Their mission is, “To revolutionize philanthropy by providing information that advances transparency, enables users to make better decisions, and encourages charitable giving.” You can find out more on their website, www.guidestar.org. 
              %h3 What does it cost?
              %p Frundraise is free to use for everyone – athletes, charities, and supporters. When supporters make a donation, there is an applicable transaction fee and credit card processing fee. 
              %ul
                %li For athletes? It is free to start a fundraiser on Frundraise. 
                %li For charities? It is free for charities to create their profile on Frundraise. 
                %li For supporters? It is free to support your athletes. The only cost is the amount of the donation that you decide to give. 
              %h3 What are the transaction fees and credit card processing fees?
              %p Frundraise charges a 5% transaction fee. This is the only revenue that Frundraise makes and it covers all of our expenses to stay in business. 
              %p Frundraise processes credit card donations through a third party organization called Stripe. Stripe charges a 2.9% + $0.30 per transaction fee for credit card processing. 
              %p Minimum donation amount is $0.50
              %p Donation Example:
              %p Donation amount: $50
              %p Amount that goes to charity: $45.75
              %p Transaction fee (to Frundraise): $2.50
              %p Credit Card processing fee (to Stripe): $1.75
              %h3 What is Stripe?
              %p Stripe is a third party organization that provides safe payment processing services so all your financial information is safe. You can learn more about Stripe at support.stripe.com.
              %h3 Why does Stripe require my birth date and SSN?
              %p Stripe uses your birth date and SSN to verify that you are a representative of your charity. The financial institutions that Stripe partners with require them to collect the personal information of the individual signing up for the Stripe account in order to verify their identity and to confirm that they are authorized to sign up for a Stripe account.
              %h3 How do I search for a specific fundraiser?
              %p The easiest way to find your athlete's fundraiser is to have them send you a link to it. You can also find fundraisers for Featured Charities and Featured Events from the Frundraise homepage.
              %h3 I’m trying to start a fundraiser, but can’t find my charity. How do I add a charity that is not on Frundraise?
              %p If you can’t find your charity on Frundraise when you set up your fundraiser, just provide us with any information you have about the charity like its name, website, phone number, or the name of a contact there. We’ll take care of the rest by reaching out to the charity and helping them create an account on Frundraise. 
              %h3 How do I invite my friends and family to support me?
              %p You can invite your friends and family to support you by sending them links to your fundraiser via email and by sharing your fundraiser on social media sites like Facebook and Twitter. 
              %h3 Questions?
              %p 
                If you have additional questions about Frundraise, please send us an email at 
                %a{:href => "mailto:admin@frundraise.com", :target => "_blank"} admin@frundraise.com
                = "."
              %br
              %br              


    %br/