.gray.p30
  .container.white.r10
    .row
      .col-sm-12
        %h1.text-center Terms & Conditions
        %h2 Effective May 1, 2014
        %p Frundraise is a fundraising website specifically for runners, triathletes, cyclists, and all other endurance athletes raising money for charity. While training for any event such as a marathon, half marathon, 5k, sprint tri, or any other event, an athlete can create a fundraiser for their favorite charity on the Frundraise website. The fundraising tools on Frundraise are specialized for fundraising as part of an endurance athletic event so that the athlete is not only able to raise money for their favorite charity, but they also receive motivation, encouragement, and reward throughout their training. Frundraise was started in 2013. Frundraise CEO and founder, Nick Morrison, registered to compete in Ironman Wisconsin 2014 and as part of his training, he wanted to start a fundraiser for a charity he is involved with called Friends of Amani. When he attempted to start a fundraiser with the existing fundraising websites, he was disappointed with their products and hence the idea for Frundraise was born.
        %p 
          %strong These terms and conditions govern Frundraise’s relationship with you when you use the Frundraise website, www.Frundraise.com ("Website" or “the Website”) and any and all services available on or through the Website or otherwise provided by Frundraise, including any widget provided by Frundraise (“the Service(s)" or "Service(s)"). By using or accessing the Website, you agree to these Frundraise Terms of Use ("Terms"). These Terms apply to you if you are a charity, supporter, athlete, or any other user of the Website and/or Services ("Users" or "You"). If you choose to not accept these terms, you CANNOT use the Frundraise website or the services. Contact us if you have any questions at admin@frundraise.com.
        %h2 Charities
        %p All charities on Frundraise must be a charitable organization authorized to receive tax-deductible donations as defined by the IRS. This includes but is not limited to charitable organizations; churches; schools; colleges; universities; hospitals; medical research organizations; homes for the elderly or handicapped and low income housing; and organizations providing scholarships, fellowships, educational loans, or other educational grants to individuals. Charitable organizations based on countries outside of the United States are also allowed on Frundraise. Foreign-based charitable organizations must have a similar standing in their country to the requirements for US-based charitable organizations.     
        %h2 Donations
        %p When a user makes a donation on Frundraise, the donation goes directly to the designated charity’s bank account that the charity administrator setup via their Stripe account less the transaction and credit card processing fees. Frundraise provides the user with a receipt for the amount of the donation. Donations are tax deductible to the maximum extent allowed by law. Users should contact their tax professional for additional information on tax deductible donations.  
        %h2 Partners: Stripe
        %p Credit card donations made in support of fundraisers on the Website are processed by a third party organization called Stripe. Frundraise does not process credit cards nor does it gather, send/receive, or store credit card information. Stripe is not affiliated with Frundraise and is not permitted to share your financial information including credit card information with Frundraise. Stripe is a secure credit card processor. You can find out more about Stripe on their website at www.stripe.com.  
        %p When Stripe processes a donation through the Website, the payment goes directly to the charity’s account less the processing and transaction fees. This is possible because when a charity registers with Frundraise, the charity is also required to register with Stripe to set up their payment account information. Doing so allows donations to go directly to the charity. You can be confident the funds make it to the appropriate party safely and timely so that they can be used for the intended use as deemed appropriate by that charity. Charities have immediate ownership of the donations collected. Charities are responsible for taxes based on their net income or gross receipts. 
        %h2 Fees
        %p The majority of every donation made on Frundraise goes directly to the charity designated by the given fundraiser. The Website deducts the following fees:
        %h2 Frundraise Transaction Fee
        %p When you make a donation through Frundraise, the Website deducts a Transaction Fee. Frundraise has a Transaction Fee of 5%. This is the only revenue that Frundraise generates and it goes towards covering our cost of doing business. 
        Frundraise reserves the exclusive right to change the transaction fee at any time as we see fit. 
        %h2 Stripe Credit Card Processing Fee
        %p Stripe is a third party credit card processor. Stripe has a credit card processing fee of 2.9% + $0.30 per transaction. This fee covers Stripe’s price for providing credit card processing services. 
        %h2 Example
        %p Donation amount: $50
        %ul
          %li Directly to the charity: $45.75
          %li Frundraise Transaction Fee: $2.50
          %li  Stripe Credit Card Processing Fee: $1.75
        %h2 Refunds
        %p Frundraise does not process refunds for any reason. Make sure when you process a donation that you verify the amount, the fundraiser, and the beneficiary. 
        %p Individual charities may have their own refund policy. To request a refund directly from a charity, you need to contact the designated charity directly.  
        
        %h2 General Use and Website Ownership
        %p Frundraise expressly owns and operates the Website and the Services. Unless otherwise noted, Frundraise owns the design and content features including without limitation information, illustrations, layout and design, icons, navigational buttons, images, graphics, photography, text, data, software, URLs. The Website and Services as a whole and in part are protected by copyright, trademark, service mark, trade name, and other intellectual property and proprietary rights. All other applicable rights are reserved. 
        %p No portion of the website and services may be reprinted, republished, modified, or distributed in any form without the express written consent of Frundraise. You may not reproduce, reverse engineer, decompile, disassemble, modify, sell, distribute, license, or create derivative works based on the website or the services.  
        %p Certain website information may be licensed from third parties. All such third party website information and all intellectual property and proprietary rights belong to the respective third parties. 
        %p The Website and the Services are provided “as is” with all faults. By agreeing to these terms of use, you agree and acknowledge that your use of the Website and the Services are at your own risk. The Website and the Services may contain errors and/or omissions or may be out of date.  
        %p The Website and Services are not intended for or directed to users under the age of 13. To use the Website and the Services, you must be 13 years of age or older. If you are under the age of 13, you may use the website and the services with permission from your parents or guardians. 
        %p When you use the Website and the Services, you acknowledge that you are responsible for all of your actions. You may not engage in any behavior that violates these Terms. You shall comply with all applicable international, federal, state, local, and any other applicable laws, statutes, ordinances, and regulations relating in any way to the Services. 
        %p You may need a user name and password to access many of the Services provided on the Website. By selecting your user name, you agree that you will not select or use a name or email address of another person with the intent to impersonate that person. You are responsible for maintaining the confidentiality of your password and account. You will notify Frundraise immediately of any unauthorized use of your password or account or any other breach of security. Frundraise assumes no liability for losses or damages resulting from any unauthorized use of your password or account. 
        %p You agree to provide accurate information as prompted on the Website or through the Services and maintain and update that information to keep it accurate. If you provide information that is inaccurate, or we have grounds to believe that such information is inaccurate, Frundraise may suspend or terminate your use of the Website and the Services. 
        %p Frundraise shall reserve the right, but not the obligation, to monitor the content of the user generated content to determine compliance with these Terms. Frundraise shall have the right in its sole discretion to edit, refuse to post, or remove content that it deems inappropriate. 
        %p Under no circumstances will Frundraise be liable for any loss or damage of any kind caused by reliance on information provided via user generated content on the website or generated through use of the services. 
        %p You retain ownership to your user generated content submitted on the website or via the services. However, by submitting your user generated content, you grant Frundraise the rights to host, cache, store, archive, index, modify into appropriate media formats, use, distribute, reproduce, modify, excerpt, adapt, publicly display, use in advertising material, and use in promotional material.
        %p Any links provided to third party websites to you on the Website are provided merely as a convenience to you. Frundraise does not hold any responsibility for the content of such websites. Frundraise cannot be held liable for damages or losses incurred through use or reliance on information or content provided on third party websites. If you decide to access any of these other websites, you do so entirely at your own risk. 
        %h2 Disclaimer of Warranty and Limitation of Liability
        %p Frundraise’s liability to you for any recoverable losses or damages arising under or in connection with these Terms and your use of this Service shall be limited, to the extent applicable, to 1) the actual direct damages incurred by you, in an amount not to exceed the total revenue received by Frundraise resulting from your use of the Service provided hereunder during the most recently preceding 12-month period, or 2) your discontinuance of any further use of such items or the Service. Frundraise shall not be liable for: 1) damages caused by your failure to perform your responsibilities; 2) claims or demands of third parties or 3) any lost or corrupted data, any lost profits, loss of business, loss of use, lost savings or other consequential, special, incidental, indirect, exemplary or punitive damages, even if Frundraise has been advised of the possibility of such damages. The foregoing limitations shall not apply to: 1) the payment of settlements, costs, damages and legal fees or 2) your obligation to pay amounts owed as compensation for the services hereunder. Notwithstanding the foregoing, to the maximum extent permitted by law, Frundraise disclaims liability for any loss or damages, whether direct, indirect, special, incidental, or consequential (even if Frundraise has been advised of the possibility of such damages) arising out of 1) your use of the Website and the Services or your inability to do so, 2) your reliance on any content provided on the Website or through the Services, and/or 3) goods and services in any way associated with the Services. The limitations of liability set forth in these Terms will survive and apply notwithstanding the failure of any limited or exclusive remedy for breach of warranty set forth in these Terms.
        %h2 Indemnification
        %p Frundraise agrees to indemnify, defend, and hold harmless you from any and all losses arising from any third party claim, action, or proceeding alleging that the Services or the Website 1) violate or infringe the Intellectual Property Rights of such third party or 2) violates any law, rule, or regulation. 
        %p You agree to indemnify, defend, and hold Frundraise and its directors, employees, and agents harmless from and against any and all claims, demands, actions, costs, liabilities, losses and damages of any kind, resulting from 1) your use, misuse or abuse of the Website or the Services or 2) your breach of these Terms or any provision contained in these Terms. You will cooperate as fully as reasonably required in Frundraise’s defense of any claim. Frundraise reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you shall not in any event settle any matter without Frundraise’s written consent. 
        %h2 Force Majeure
        %p Neither party shall be liable for any default or delay in the performance of its obligations outlined in these Terms if that default or delay is caused by fire, flood, earthquake, elements of nature, or any other cause beyond reasonable control of such party. In such an event, the nonperforming party shall be excused from their obligation for as long as the circumstances prevail and the party continues to use its best efforts to recommence performance or observance without delay. 
        %h2 GuideStar USA, Inc. (“GuideStar”)
        %p Frundraise relies on GuideStar to verify the status of US charities on the Website. GuideStar maintains a list of United States based charitable organizations. You acknowledge that certain data available or accessible on the Website or via the Services concerning an organization’s status as a charitable organization is provided by GuideStar. 
        %h2 Copyrights and Trademarks
        %p Frundraise respects the intellectual property rights of others and requires that you do the same. Frundraise reserves the right to remove or disable content on the Website that infringes upon the copyright rights of others. All content on the Website is owned by Frundraise or the charities registered on Frundraise and is protected by applicable intellectual property and proprietary right and laws. You may copy said content for your own personal, non-commercial use provided you do not alter it or remove any copyright, trademark, or other proprietary notice. No other use of the Website content is permitted without the express prior consent of Frundraise.  
        %p If you believe that your work has been used on the Website in any manner that infringes on your copyright, please notify Frundraise administrators at admin@frundraise.com.  
        %h2 Modification of Terms
        %p Frundraise reserves the right to amend and/or modify these Terms and any other documents referenced from time to time by posting revised Terms on the Website without notice. The date of the revision will appear at the top of this page. You will be bound by the revised Terms for all subsequent uses of the Website. If you do not agree to any of the Terms set forth herein, you may not use this Service. Continued use of the Website constitutes acceptance of any modified Terms. Frundraise may notify you of such changes by sending you an email to the address you provided us.
        %h2 Miscellaneous Other Provisions
        %p
          %strong The headings used throughout the Terms are meant for convenience and are not meant to be an aid in interpretation. 
        %p
          %strong The Terms make up the entire agreement between you and Frundraise. The Terms do not confer any third party beneficiary rights. 
        %p 
          %strong Nothing in these terms shall prevent Frundraise from complying with the law. In the event that any provision of these Terms is held to be invalid or unenforceable, it will be deleted and replaced by a valid and enforceable provision which achieves, as far as possible, the same objectives as the deleted provision was intended to achieve. The remaining provisions of these Terms shall continue in full force and effect. Neither these Terms, nor any terms contained herein, shall be construed as creating or constituting a partnership, joint venture or agency relationship between the parties. You may not assign, sublicense or otherwise transfer any right or obligation set forth herein without Frundraise’s prior written consent. Any purported assignment in violation of the preceding sentence is void and of no effect. These Terms are binding upon the parties' respective successors and permitted assigns. No failure of Frundraise to exercise or enforce any of its rights hereunder will act as a waiver of such rights. Except as otherwise expressly provided herein, all remedies provided for herein shall be cumulative and in addition to and not in lieu of any other remedies available to either party at law, in equity or otherwise.

         
        %h2 Privacy Policy
        %p Frundraise is committed to respecting and protecting your privacy. This Privacy Policy discloses the information we gather on the Website and how we process and share that information. Your use of the Frundraise website and its Services constitutes your agreement to our Privacy Policy. If you do not agree to any of the terms in this Privacy Policy, do not use the Website. 
        %h2 Information we collect
        %p Our goal is to provide athletes with a fun, motivational, rewarding, and encouraging way to raise money for charity while training for an event. In order to do this, at times, we have to collect some personal information. We try to keep it to a minimum amount in order to successfully complete the Services.  
        %p Frundraise does not collect any credit card information. 
        %h3 Personal Information collected from Athletes and Supporters
        %p We may receive and store any information you provide on the website or through any other means that would allow us to identify you personally or contact you. The information you provide will only be used by Frundraise in accordance with this Privacy Policy. For example, when you start a fundraiser, you provide your name, email address, and photo(s). 
        %p You can elect not to share certain information, but that may limit the services available to you on the website. 
        %h3 Personal Information collected from Charities
        %p If you are the administrator of a charity or the designee of the administrator of a charity and you create a profile for your charity on the Website, we will collect the name of the charity, the charity’s website, the name of the charity administrator, and the email address of the charity administrator. This allows us to contact the charity when necessary and helps us verify the charity’s charitable organization status. 
        %h2 Email Communications
        %p From time to time, as part of the Services offered through the Website, we may send emails to athletes, supporters, and/or charities. We do not store this information for any other purpose than to send the email in accordance with providing the intended services of the Website.  
        %p When you send an email to Frundraise, we may retain your email address and the content of the email.
        %h2 How we use personal information
        %p When you provide Frundraise with personal information, we may use it for a number of purposes including:
        %ul
          %li Facilitating communication
          %li Account administration
          %li Processing donations and providing receipts for those donations
          %li To report on fundraisers, donations, and users
          %li To provide reports to charities of supporters that made donations to their charity
          %li To communicate important updates about Frundraise, the Website, or the Services
        %h2 Personal Information and Third Parties
        %p Frundraise does not sell or distribute your personal information to any third parties that are not directly involved with the services provided on the website.  
        %h3 Stripe
        %p Stripe provides credit card processing services to Frundraise. All donations made through the Website are processed by Stripe. Stripe may collect and store your credit card information in accordance with its policies, terms, and conditions.
        %h3 Charities
        %p Frundraise shares personal information of athletes and supporters with the charity that their fundraiser is benefitting or the charity that their donation is made to. This allows charities to be aware of who is raising money for them and who is providing donations to them. It also gives them the opportunity to provide supporters with a receipt for their donations. 
        %h2 Changes to this Privacy Policy
        %p We may occasionally update this Privacy Policy in order to continue to provide the services available on the Website. We recommend that you check the Website from time to time to ensure you are informed with the current Privacy Policy. 
