.gray.p30
  .container.white.r10
    .row
      .col-sm-12
        %h1 My Donations

        / %h3 My Per-Mile Pledges
        / %table.table
        /   %tr
        /     %th Fundraiser
        /     %th Per Mile Pledge
        /     %th Max Monthly Amount
        /     %th Miles Trained
        /     %th Total 'Per Mile' Donation Estimate
        /   - @my_donations.each do |donation|
        /     %tr
        /       %td= donation.fundraiser.name
        /       %td= number_to_currency(donation.per_mile_amount)
        /       %td= number_to_currency(donation.max_per_mile_amount) if donation.max_per_mile_amount
        /       %td= donation.fundraiser.training_logs.to_a.sum(&:miles)
        /       %td= donation.fundraiser.training_logs.to_a.sum(&:miles) * donation.per_mile_amount.to_f


        %h3 Donations Made By Me
        %table.table
          %tr
            %th Date
            %th Fundraiser
            %th Charity
            %th Processed Amount
            %th Pledged per Mile (max.)
            %th Actions
          - @my_donations.each do |donation|
            %tr
              %td= donation.created_at.strftime("%m/%d/%Y")
              %td= link_to donation.fundraiser.name,fundraiser_path(donation.fundraiser)
              %td= link_to donation.fundraiser.charity.name,charity_path(donation.fundraiser.charity)
              %td= number_to_currency(donation.fixed_amount) if donation.fixed_amount
              %td 
                - if donation.per_mile_amount.present?
                  = number_to_currency(donation.per_mile_amount)
                  = donation.max_per_mile_amount.present? ? "(#{number_to_currency(donation.max_per_mile_amount)})" : "(NA)"

              %td= link_to 'Print Receipt', donation if donation.fixed_amount.present?

        -if @fundraiser_donations.present?      
          %h3 Donations Made To Me
          %table.table
            %tr
              %th Date
              %th Fundraiser
              %th Charity
              %th Supporter
              %th Email
              %th Processed Amount
              %th Pledged per Mile (Max)
              / %th Actions
            - @fundraiser_donations.each do |donation|
              %tr
                %td= donation.created_at.strftime("%m/%d/%Y")
                %td= link_to donation.fundraiser.name,fundraiser_path(donation.fundraiser)
                %td= link_to donation.fundraiser.charity.name,charity_path(donation.fundraiser.charity)
                %td= donation.user.try(:name)
                %td= donation.user.try(:email)
                %td= number_to_currency(donation.fixed_amount) if donation.fixed_amount
                %td
                  - if donation.per_mile_amount.present?
                    = number_to_currency(donation.per_mile_amount)
                    = donation.max_per_mile_amount.present? ? "(#{number_to_currency(donation.max_per_mile_amount)})" : "(NA)" 
                / %td= link_to 'Print Receipt', donation 


        -if @charity_donations.present?                   
          %h3 Donations Made To Charity
          %table.table
            %tr
              %th Date
              %th Fundraiser
              %th Charity
              %th Supporter
              %th Email
              %th Processed Amount
              %th Pledged per Mile (Max)
              / %th Actions
            - @charity_donations.each do |donation|
              %tr
                %td= donation.created_at.strftime("%m/%d/%Y")
                %td= link_to donation.fundraiser.name,fundraiser_path(donation.fundraiser)
                %td= link_to donation.fundraiser.charity.name,charity_path(donation.fundraiser.charity)
                %td= donation.user.try(:name)
                %td= donation.user.try(:email)
                %td= number_to_currency(donation.fixed_amount) if donation.fixed_amount
                %td 
                  - if donation.per_mile_amount.present?
                    = number_to_currency(donation.per_mile_amount)
                    = donation.max_per_mile_amount.present? ? "(#{number_to_currency(donation.max_per_mile_amount)})" : "(NA)"
                /%td= link_to 'Print Receipt', donation             