= content_for(:body_class){ 'donation new' }
.gray.billboard
  .container
    .row
      .col-sm-3
        - if @fundraiser.image.url.present?
          .image= image_tag @fundraiser.image.url(:profile), style: 'width: 100%; height: auto;'
        -else  
          =image_tag("fundraiser-logo.png",:style=>"width: 100%; height: 200px;'")
      .col-sm-9
        / .trained_miles.pull-right
        /   %h4 Total Miles
        /   .miles= "#{@fundraiser.training_logs.sum(&:miles)} miles"
        %h3= @fundraiser.name
        %p= @fundraiser.description
        .row
          .col-sm-6
            %h4
              %strong Event:
              = "#{@fundraiser.event.name} on #{@fundraiser.event.happens_on.to_s(:long)}"
          .col-sm-6
            %h4
              %strong Charity:
              = @fundraiser.charity.name

        .row          
          .col-sm-6
            %h4 
              %strong Fundraising Goal:
              - if @fundraiser.goal.blank?
                Not Mentioned
              - else  
                = number_to_currency(@fundraiser.goal)
          .col-sm-6
            %h4
              %strong Amount Raised:
              = number_to_currency(@fundraiser.predict_total_donations)
                
        .row
          .col-sm-6
            %h4 
              %strong Anticipated Weekly Mileage:
              - if @fundraiser.weekly_mileage.blank?
                Not Mentioned
              - else  
                = "#{@fundraiser.weekly_mileage} miles"
          .col-sm-6
            %h4
              %strong Total Miles:
              = "#{@fundraiser.training_logs.sum(&:miles)} miles"      

.donation_form
  .container
    .row.text-center
      .col-sm-12
        %h1
          Support 
          = @fundraiser.user.display_first_name
        %div{ style: 'max-width: 700px; margin: auto; padding-bottom: 20px;'}
          %p= "Frundraise allows you to make two types of donations to support #{@fundraiser.user.name}. You can make a one-time fixed donation or pledge to donate a certain amount for every mile that #{@fundraiser.user.name} covers during their training. Pledges are processed once a month and you can specify a maximum amount per month for your pledge." 
          / %p= "Fill in the information below to make a fixed donation to support #{@fundraiser.user.display_first_name} and #{@fundraiser.charity.name }."

    .row
      .col-sm-8.col-sm-offset-2
        %p.errors.hide{ style: "background-color: #f2dede; text-align: center; margin-bottom: 20px; padding: 15px;" } Please agree to the terms of this website by checking the box below.
        = form_for [@fundraiser, @donation], class: 'form-horizontal validate_form' do |f|
          - if @donation.errors.any?  || @donation.user.errors.any?
            %div#error_explanation{:style=>"padding-left: 100px;"}
              %ul  
                - @donation.errors.full_messages.each do |msg| 
                  %li 
                    =msg 
                - @donation.user.errors.full_messages.each do |msg| 
                  %li 
                    =msg    
          .form-group.row
            = label_tag :donation_type, 'Donation Type', class: 'col-sm-3 control-label text-right'
            %select#donation_type{:style=>"margin-left: 15px;",} 
              %option{:value=>'pledge'} Pledge Donation  
              %option{:value=>'fixed'} Fixed Donation        
                      
          .form-group.row.hide#fixed_donation_container
            = f.label :fixed_amount, 'Fixed Donation', class: 'col-sm-3 control-label text-right'
            .col-sm-4
              .input-group
                %span.input-group-addon $
                = f.text_field :fixed_amount, class: 'form-control required number',min: 13,"data-msg-number"=>""

          .form-group.row#pledge_donation_container
            = f.label :per_mile_amount, 'Pledge Donation', class: 'col-sm-3 control-label text-right'
            .col-sm-4
              .input-group
                %span.input-group-addon $
                = f.text_field :per_mile_amount, class: 'form-control'
              Donation Per Mile
            .col-sm-4
              .input-group
                %span.input-group-addon $
                = f.text_field :max_per_mile_amount, class: 'form-control'
              Max Per Month

          - unless user_signed_in?

            = f.fields_for @donation.user do |user_form|
              .form-group.row
                %label.col-sm-3.control-label.text-right Account Details
                .col-sm-9
                  = link_to "Already have an account?", new_user_session_path(:from=>"donation-#{@donation.fundraiser_id}"), style: 'margin-bottom: 10px; display: block;'
                  .row
                    .col-sm-6
                      = user_form.text_field :first_name, class: 'form-control'
                      = user_form.label "first_name"
                    .col-sm-6
                      = user_form.text_field :last_name, class: 'form-control'
                      = user_form.label :last_name
                  .row
                    .col-sm-12
                      = user_form.text_field :email, class: 'form-control'
                      = user_form.label "email *",:class=>"required"
                  .row
                    .col-sm-12
                      = user_form.password_field :password, class: 'form-control'
                      = user_form.label "password *",:class=>"required"
                  .row
                    .col-sm-12
                      = user_form.password_field :password_confirmation, class: 'form-control'
                      = user_form.label "password_confirmation *" ,:class=>"required"         
          .form-group.row
            %label.col-sm-3.control-label.text-right Payment Details
            .col-sm-9
              .form-group
                .card_number
                  = text_field_tag :card_number, nil, name: nil, class: 'form-control'
                  = label_tag "card_number", 'Credit Card Number *'
              .row
                .col-sm-9
                  = select_month Date.today, { add_month_numbers: true, user_short_month: true}, { name: nil, id: 'card_month', class: 'form-control', style: 'width: 63%; display: inline-block;' } 
                  = select_year Date.today, { start_year: Date.today.year, end_year: Date.today.year + 20}, { name: nil, id: 'card_year', class: 'form-control', style: 'width: 35%; display: inline-block;' }
                  = f.hidden_field :stripe_token
                  %br/
                  = label_tag :expiration_month, 'Expiration Date *'
                .col-sm-3
                  = text_field_tag :card_security_code, nil, name: nil, class: 'form-control'
                  = label_tag :card_security_code, 'CVC *'



          .form-group.row
            %label.col-sm-3.control-label.text-right Terms
            .col-sm-9
              = f.label :terms do
                = f.check_box :terms
                I agree to the 
                = link_to 'terms of this website.', '/terms', target: '_blank'
          .form-group.row
            .col-sm-9.col-sm-offset-3
              = f.submit class: 'btn btn-success'
.modal.fade#modal_pledge_date
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Pledge Confirmation
        %p 
          %p The table below shows when your credit card will be processed during the fundraiser. The amount of your donation will be calculated based on your pledge and the number of miles the athlete has logged. In a given month, your donation will not exceed the maximum amount that you specify.
          %span.modal_pledge_amount 
          \.          
          %p.alert.alert-danger#max_amount_warning{:style=>"display:none"}
            You are pledging 
            %span.modal_pledge_amount 
            \. Your final donation will be calculated by multiplying your pledge amount by the number of miles the athlete logs. Are you sure you want to pledge
            %span.modal_pledge_amount 
            ?
        %p.alert.alert-danger#no_max_amount_warning{:style=>"display:none"}
          You are pledging
          %span.modal_pledge_amount
          with no monthly maximum. Your final donation will be calculated by multiplying your pledge amount by the number of miles the athlete logs. By not setting  a monthly maximum, you are not placing an upper limit on the amount of your donation. Are you sure you want to pledge
          %span.modal_max_amount
          %span with no monthly maximum?
          
 
      .modal-body
        - pledge_donation_dates = estimate_pledge_donation_dates(@donation.fundraiser)
        #pledge_donation_last_date{"data-donation-date"=>pledge_donation_dates.last[:end_date] }
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Donation Date
          %tbody
            - pledge_donation_dates.each_with_index do |pledge_date|
              %tr    
                %td 
                  = pledge_date[:end_date].to_s(:long)



      .modal-footer
        %button.btn.btn-default#cancel_pledge{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary#confirm_pledge{type: "button"} Confirm

