.container{:style=>"min-height:500px"}
  .row
    .col-sm-12
      %p= "Dear #{@donation.user.name},"

      %p= "Thank you very much for your generous #{number_to_currency(@donation.fixed_amount)} donation to #{@donation.fundraiser.charity.name}." 

      %p 
        The donation you have made is tax-deductible to the extent allowed by law. You may save or print this receipt for your records. This email certifies that you have made this donation as a charitable contribution. This receipt may be useful to you when completing your tax return.

      %p
        Date:
        = @donation.created_at.strftime("%m/%d/%Y")

      %p
        Charity:
        = @donation.fundraiser.charity.name

      %p
        Amount:
        = number_to_currency(@donation.fixed_amount)

      %p
        Supporter:
        = @donation.user.full_name
      - if @donation.fundraiser.charity.tax_id.present?  
        %p
          Donation Reference (Transaction ID) #:
          = @donation.fundraiser.charity.tax_id

      Thank you for your donation!