= form_for @charity do |f|
  - if @charity.errors.any? 
    %div#error_explanation
      %h4
        = pluralize(@charity.errors.count, "error") 
        prohibited this charity from being saved

      %ul  
        - @charity.errors.full_messages.each do |msg| 
          - msg = msg.gsub("User ","")
          %li 
            =msg 


      %hr
  .form-group
    = f.label :name, 'Charity Name *'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :tax_id, 'Tax ID # / EIN #' 
    = f.text_field :tax_id, class: 'form-control'

    - unless @charity.new_record?
      - unless @charity.user
        .form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'
        .form-group
          = f.label :contact
          = f.text_field :contact, class: 'form-control'
      .form-group
        = f.label :website
        = f.text_field :website, class: 'form-control'
      .form-group
        = f.label :phone
        = f.text_field :phone, class: 'form-control'
      .form-group
        = f.label :description, 'Short Description'
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :logo, 'Profile image (optional - can be added/changed later)'
        = f.file_field :logo, class: 'form-control'
    %br
    .form-group
      = f.submit class: 'btn btn-primary btn-lg'