%div.modal{:id=>"merge_charity_#{charity.id}"}
  %div.modal-dialog
    %div.modal-content
      
      %div.modal-header
        %button.close{"data-dismiss"=>"modal","aria-hidden"=>"true"}
        %h4.modal-title= "Merge #{charity.name}"
      =form_tag(merge_charity_charity_path(charity)) do 
        %div.modal-body
          %p 
            Merge 
            %strong= charity.name 
            Charity From In Active Charities

          = select_tag :in_active_charity_id,options_from_collection_for_select(@inactive_charities,:id,:name),:class=>"form-control col-md-5"
          %br 

        %div.modal-footer
          %button.btn.btn-default{"data-dismiss"=>"modal"} Close
          =submit_tag "Merge Charity",:class=>"btn btn-primary"



