.gray.p30
  .container.white.r10
    .row
      .col-sm-6.col-sm-offset-3
        %h1 Claim Charity Ownership
        %p 
          Thank you for choosing to be a part of Frundraise. We hope athletes use Frundraise to raise donations to support your cause.
        = form_tag [:own, @charity] do
          = hidden_field_tag :token, @token
          = submit_tag 'Claim Ownership', class: 'btn btn-success'
    %br/