.container
  .row
  %p Stripe is a third party credit card processor that we use to process donations on Frundraise.
  %p Create a Stripe account and connect it with your Frundraise account so that you can accept donations.
  .col-sm-12
    = link_to "Sign in with Stripe", user_omniauth_authorize_path(:stripe_connect), class: 'btn btn-lrg btn-primary'

  	