.gray.p30
  .container.white.r10
    .row
      .col-sm-12
        %h2 My Charities
        %table.table
          %tr

            %th Name
            %th Tax ID / EIN
            %th Website
            %th Phone
            %th Connected With Stripe
            %th Actions
          - @my_charities.each do |charity|
            %tr
              %td= link_to charity.name, charity
              %td= charity.tax_id
              %td= charity.website
              %td= charity.phone
              %td
                - if charity.connected_with_stripe?
                  Connected
                - else
                  Not connected
                  = link_to 'Connect Now', [:connect_with_stripe, charity]
              %td= link_to 'Edit', [:edit, charity], class: 'btn btn-default'
        
        
        - if user_signed_in? and current_user.admin? and @active_charities.any?
          %h2 Active Charities
          %table.table
            %tr
              %th Tax ID
              %th Name
              %th Contact
              %th Phone
              %th Email
              %th Website
              %th Raised
              %th Stripe Status
              %th Action

            - @active_charities.each do |charity|
              %tr
                %td= charity.tax_id 
                %td= charity.name 
                %td= charity.user.name if charity.user
                %td= charity.phone 
                %td= charity.user.email if charity.user
                %td= charity.website 
                %td= charity.connected_with_stripe? ? number_to_currency(charity.raised) : '-'
                %td= charity.connected_with_stripe? ? 'Connected' : 'Not Connected'
                %td
                  
                  %div.btn-group
                    %button.btn.btn-default.btn-info.dropdown-toggle{"data-toggle"=>"dropdown"}
                      Action
                      %span.caret
                      
                    %ul.dropdown-menu
                      %li
                        = link_to 'Edit', [:edit, charity], class: ''
                      %li  
                        / = link_to ' Delete', charity_path(charity), class: '',:method=>:delete,:confirm=>"Are you sure you want to delete charity?"
                      %li  
                        = link_to 'Merge Charity',"#", "data-toggle"=>"modal", "data-target"=>"#merge_charity_#{charity.id}"
              = render :partial=>"merge_charity",:locals=>{:charity=>charity}    

        - if current_user.admin? && @inactive_charities.any?
          %h2 Inactive Charities
          %table.table
            %tr
              %th Tax ID
              %th Name
              %th Contact
              %th Phone
              %th Email
              %th Website
              %th Any other Info
              %th{ style: 'width: 20%'} Action
            - @inactive_charities.each do |charity|
              %tr
                %td= charity.tax_id
                %td= charity.name
                %td= charity.contact
                %td= charity.phone
                %td= charity.email
                %td= charity.website
                %td= charity.description
                %td
                  = link_to 'Edit', [:edit, charity], class: 'btn btn-default'
                  = link_to 'Invite', [:invite, charity], class: 'btn btn-warning'
                  = link_to 'Delete', charity_path(charity), class: 'btn btn-danger',:method=>:delete,:confirm=>"Arr you sure you want to delete charity?"


