- content_for :body_class, 'charities info'
.gray
  .container
    .row
      .col-sm-12
        %h1 Top Charities
        .charities
          - @charities_slices.each_with_index do |charities, index|
            .row
              - charities.each_with_index do |charity, i|

                - if index == 0 and i == 2
                  .col-md-4
                    .signup_details
                      %h2 Add Your Charity
                      %ul
                        %li Free charity profile.
                        %li Free for athletes to create fundraisers for your charity.
                        %li Donations go directly to your account, minus applicable fees.
                      = link_to image_tag("add-your-charity-button.png"), new_charity_path, style: 'margin-right: 10px'
                      = link_to 'Details', '#details', class: 'details', data: { target: "#myModal", "toggle" => "modal"}
                - else
                  - if charity
                    .col-md-4
                      .charity
                        .image
                          .vertical_center
                            -if charity.logo.url.present?
                              = link_to image_tag(charity.logo.url(:profile)), charity
                            -else  
                              = link_to image_tag("charity-logo.jpg"), charity
                        .details
                          .name= link_to charity.name, charity


#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
        %h4#myModalLabel.modal-title Charity Details
      .modal-body
        %h3 About Frundraise
        %p 
          Frundraise is a fundraising website for athletes who want to support their favorite charity as part of their training for an event. Frundraise is all about being active, giving back, and training for something bigger than yourself. Training for and competing in an event like a marathon is one of the most difficult physical challenges many people will ever take on. Crossing the finish line is an accomplishment in itself, but Frundraise is about making it bigger than just that. When you add fundraising for a charity that is important to you or has made a difference in your life, and bring the support of your friends and family along, crossing that finish line on race day will be more rewarding than you could ever have imagined. 

        %p
          Frundraise is based in Colorado and was founded in 2013 by Nick Morrison. Nick is a runner and triathlete and first came up with the idea for Frundraise when he started planning his training for Ironman Wisconsin 2014. As part of his training, he wanted to start a fundraiser for a charity he is involved with called Friends of Amani which helps fund a children’s home in Tanzania for street orphans. When he attempted to start an online fundraiser, he was disappointed to find that there were no specialized websites for runners or triathletes and hence the idea for Frundraise was born.

        %h3 How it works

        %p
          When an athlete wants to start the first fundraiser to support you, they will set up their fundraiser profile on Frundraise and specify some contact information about the charity that they want to support. Using that contact information, the Frundraise team will reach out to the charity to let them know that the athlete is interested in supporting them. Once we reach out to you, you will be able to sign up for Frundraise and create a profile for your charity so that future athletes can support you as well. 

        %p
          When you create your charity’s profile, you will also need to create an account with Stripe. Stripe is the secure third-party credit card processor that Frundraise works with to process donations. Setting up your Stripe account allows the donations made through Frundraise to go directly to your charity’s bank account.

        %h3 Costs

        %p 
          Frundraise is free to use for everyone – athletes, charities, and supporters. When supporters make a donation, there is an applicable transaction fee and credit card processing fee.
        %ul
          %li For athletes? It is free to start a fundraiser on Frundraise. 
          %li For charities? It is free for charities to create their profile on Frundraise. 
          %li For supporters? It is free to support your athletes. The only cost is the amount of the donation that you decide to give. 

        %p 
          Frundraise charges a 5% transaction fee. This is the only revenue that Frundraise makes and it covers all of our expenses to stay in business. 
        %p
          Frundraise processes credit card donations through a third party organization called Stripe. Stripe charges a 2.9% + $0.30 per transaction fee for credit card processing. 

        %p Donation Example:
        %ul
          %li Donation amount: $50
          %li Amount that goes to charity: $45.75
          %li Transaction fee (to Frundraise): $2.50
          %li Credit Card processing fee (to Stripe): $1.75

      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        = link_to 'Add Your Charity', new_charity_path, class: 'btn btn-primary'
