.gray.p30
  .container.white.r10
    .row
      = form_tag [:send_invite, @charity] do
        .col-sm-10
          %h1 New Charity Invite
          .form-group
            = label_tag :recipient
            = text_field_tag :recipient, @charity.email, class: 'form-control'
          .form-group
            = label_tag :body
            = text_area_tag :body, @message, class: 'form-control', style: 'height: 20em'
          = hidden_field_tag :athlete, @athlete
        .col-sm-2
          %br/
          = submit_tag 'Send Invite', class: 'btn btn-success btn-lg'
    %br/