.container
  .row
    .col-lg-12
      %table.table
        %tr

          %th Name
          %th Tax ID / EIN
          %th Website
          %th Address
          %th Phone
          %th Connected With Stripe
        - @charities.each do |charity|
          %tr
            %td= link_to charity.name, charity
            %td= charity.tax_id
            %td= charity.website
            %td= charity.address
            %td= charity.phone
            %td
              - if charity.connected_with_stripe?
                Connected
              - else
                Not connected
                = link_to 'Connect Now', [:connect_with_stripe, charity]