- content_for :page_title, "#{@charity.name} | frundraise"

- if @can_edit
  - unless @charity.connected_with_stripe? 
    .publish_bar{ style: 'background: #32020f; color: white; padding: 10px;' }
      .container
        .pull-right
          = link_to 'Connect with Stripe',user_omniauth_authorize_path(:stripe_connect),class: "btn btn-success",:target => "_blank"
          

        %h4{ style: 'margin: 5px 0;'} Your charity is currently not connected with stripe. 
        / %div{ style: 'max-width: 650px;'}
        /   You can connect your chaarity with stripe
      
.gray.p30
  .container.white.r10.clearfix{style: "padding-bottom:15px"}
    .row
      %br
      .col-sm-3
        - if @charity.logo.profile.present?
          .image{ style: 'padding: 20px; border: solid 1px #ccc; margin-bottom: 10px; border-radius: 10px;' }
            = image_tag @charity.logo.profile.url, style: 'width: 100%; height: auto;'
        - else
          =image_tag("charity-logo.jpg",:style=>"background: gray;width: 100%; height: 200px;'")
          / .image{ style: 'background: gray; width: 100%; height: 200px;' }

        - if current_user.present? && @charity.user == current_user
          = form_for @charity,:html=>{:class=>"validate_form"} do |f|
            = f.file_field :logo, class: 'form-control required', style: 'margin-bottom: 5px;',"data-msg-required"=>"You must choose a new file before you can update the image"
            %br 
            = f.submit "Update Image", class: 'btn btn-primary'

        %br
        .social_media_links
          :erb
            <div class="fb-share-button" data-href="http://www.frundraise.com<%= charity_path(@charity) %>" data-type="button"></div>
            
            <a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <g:plusone></g:plusone>

        .support-this-charity
          = link_to "Start Your Fundraiser",new_fundraiser_path(charity_id: @charity.id), class: 'btn btn-success'
      .col-sm-9
        %h1
          = best_in_place_if @can_edit, @charity, :name, type: :input        

        %h4 About The Charity
        = best_in_place_if @can_edit, @charity, :description, type: :textarea,:nil=>show_inline_story_heading(nil),:display_with => lambda {|v| show_inline_story_heading(v).html_safe}
        .website
          %a{:href=>@charity.website_url, :target=> '_blank'}Visit Website
          - if @charity.user == current_user
            = best_in_place_if @can_edit, @charity, :website, type: :input,:nil=> lambda {link_to "","#",:class=>"glyphicon glyphicon-edit"},:display_with => lambda {|v| link_to "","#",:class=>"glyphicon glyphicon-edit"}

          %h4 
            Amount Raised By Supporters: 
            = number_to_currency(@charity.raised)
    %br
    .row
      - if @fundraisers.present?
        %h4{style: "padding-left: 10px"} Active Fundraisers
      - @charity.fundraisers.published.active_event_fundraiser_donation.sort_by {|x| x.raised}.reverse.each do |fundraiser|
        %div.col-md-4{style: "padding-right: 100px;margin-top: 30px;"}
          %a.pull-left{:href=>fundraiser}
            - if fundraiser.image_url.present?
              %img.media-object{:src=>fundraiser.image.url(:profile),:style=>"width: 64px; height: 64px;"}
            -else  
              =image_tag("fundraiser-logo.png",:class=>"media-object",:style=>"width: 64px; height: 64px;")
          %div.media-body
            %h5.media-heading 
              =link_to fundraiser.name,fundraiser
            %div
              Event: 
              = "#{fundraiser.event.name} on #{fundraiser.event.happens_on.to_s(:long)}"  
            %div
              Fundraising Goal :
              - if fundraiser.goal.blank?
                Not Mentioned
              - else
                = number_to_currency(fundraiser.goal)
            %div
              Amount Raised:
              = number_to_currency(fundraiser.raised)
            %div
              Total Miles : 
              = pluralize(fundraiser.total_miles, 'Mile')     