= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control"
  - if devise_mapping.rememberable?
    .form-group
      = f.label :remember_me do
        = f.check_box :remember_me
        Remember me
  = f.submit "Sign in", class: 'btn btn-primary'
  - if devise_mapping.recoverable? && controller_name != 'passwords' 
    = link_to "Forgot your password?", new_password_path(resource_name)