.charity, .event{
  &.selected{
    background: #eee;
    border: 1px solid #ccc;
  }
}

.fundraisers.new{
  h1{ 
    margin-top: 0; 
  }

  .charities_container{
    .charity{
      margin-bottom: 10px;
      border-bottom: 1px dotted #eee;
      padding: 10px;

      &.selected{
        background: #fdfde5;
        border: 1px solid #e2e29d;
      }

      .logo{
        float: left;
        padding: 10px;
        background: white;
        margin-right: 10px;
      }

      .name{
        color: #474747;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }

      .address{
        color: #8a8c8e;
        margin: 0;
      }

    }
  }

  .events_container{
    margin-bottom: 20px;

    .event{
      padding: 5px 10px;
      margin-bottom: 10px;

      &.selected{
        background: #fdfde5;
        border: 1px solid #e2e29d;
      }

      a{
        float: left;
        margin-right: 15px;
        margin-top: 2px;
      }
      .name{
        font-size: 20px;
        color: #474747;
        font-weight: normal;
        margin: 0;
      }
      .happens_on{
        color: #4eb9a7;
        font-size: 14px;
        margin: 0;
        line-height: 1;
      }
    }
  }
}

.fundraisers.show{
  
  #log_mile{
    width: 260px;
    margin-left: 500px;
  }

  .image{
    margin-top: 15px;

    img{
      height: auto;
    }
  }

  .charity{
    .logo{
      text-align: center;
      border: 1px solid #ccc;
      padding: 20px;
    }
  }

  .best_in_place{
    textarea{
      width: 100%;
      height: 15em;
    }
  }
}
.pagination{
  display: inherit;
  text-align: center;
}