@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

body{
  border-top: 5px solid #ef3a50;
}

#footer{
  font-size: 12px;
  a{
    margin: 0 10px;
    color: gray;
  }
}

#header{
  background-color: #fffddb;
  background-color: #fffddb;
  background-image: -moz-linear-gradient(bottom, #fff 58.12%, #fffee6 100%);
  background-image: -o-linear-gradient(bottom, #fff 58.12%, #fffee6 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 58.12%, #fffee6 100%);
  background-image: linear-gradient(bottom, #fff 58.12%, #fffee6 100%);
  height: 120px;

  .site-title{
    float: left;

    a{
      display: inline-block;
      height: 83px;
      width: 225px;
      margin: 15px;
      text-indent: -9999px;
      background: url(image-path("logo.png")) no-repeat center center;
    }
  }

  .login{
    float: right;
    width: 85px;
    padding-top: 45px;

    a{
      color: #167565;
      display: inline-block;
      padding: 5px;
      width: 100%;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-decoration: none;


      &:hover{
        padding: 4px;
        border: 1px solid #167565;
      }

      &:active{
       padding: 5px;
       border: 0;
       background: #167565;
       color: white;
      }
    }
  }

  .middle-box{
    margin-left: 255px;
    margin-right: 85px;
    margin-top: 45px;
    text-align: center;

    .form-control{
      width: 60%;
      clear: none;
      display: inline;

    }

    .nav-menu{
      margin-top: 20px;

      a{ 
        color: #167565;
        font-size: 18px;
        margin: 15px;
      }
      a.active{
        padding: 10px;
        border: 0;
        background: #167565;
        color: white;
        text-decoration:none;
      }

    }
  }
}
.gray.p30{
  min-height:450px;
}
.gray{
  background: #ededed url(image-path("gray-bg.png"));
}

.white{
  background: white;
}

.r10{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.p10{ padding: 10px }
.p20{ padding: 20px }
.p30{ padding: 30px }

label{
  font-weight: normal;
}

h1{
  color: #5c5d60;
  font-style: italic;
  font-weight: bold;
}

.btn-exlg, .btn-group-exlglg > .btn {
  padding: 20px 50px;
  font-size: 26px;
  line-height: 1.33;
  border-radius: 6px;
}

a{
  color: #ef3a50;

  &:hover{
    color: #ef3a50;
    text-decoration: underline;
  }
}