.home{
  .billboard{
    /*background: url(image-path("white-billboard.jpg")) center #091218 no-repeat;*/
    padding: 1%;
    text-align: center;

    img{
      max-width: 913px;
      width: 100%;
      height: auto;
    }
  }

  .featured{
    

    h2{
      color: #8a8c8f;
      font-weight: normal;
      padding-top: 20px;
      background: url(image-path("logo-curve.png")) top left no-repeat;
    }

    .charities{

      h2{ font-size: 30px; margin-top: 20px; }

      .charity{
        position: relative;
        min-height: 180px;

        .image{
          border: 1px solid #cbcbcb;
          background: white;
          margin: 0 10px 10px 0;
          position: absolute;
          left: 0;
          top: 0;
          padding: 20px;
          line-height: 1;
          width: 200px;
          text-align: center;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          img{ width: 100%; height: auto;max-height:125px }
        }

        .info{
          position: absolute;
          left: 210px;
          top: 0;

          h3{
            font-size: 18px;
            margin: 0;
            padding-top: 10px;

            a{
              color: #474747;
            }
          }
        }
      }
    }

    .events{
      h2{ font-size: 24px; margin-top: 26px; }
    }
  }

  .events{
    margin-bottom: 20px;

    .event{
      margin-top: 20px;

      &:first-child { margin-top: 0; }

      .details{
        .name{
          font-size: 16px;
          display: inline;
          margin-right: 10px;

          a{
            color: #474747;
            border-bottom: 1px dotted #ccc;

            &:hover{
              text-decoration: none;
              border-bottom: 1px dotted black;
            }
          }
        }

        .happens_on{
          display: inline;
          color: #34af9c;
        }
      }

      .stats{
        color: #8a8c8e;

        & > div{
          float: left;
          margin-right: 20px;
        }

        .value{
          font-size: 14px;
        }
        .type{
          font-size: 12px;
        }
      }
    }
  }
}

#homeActions {
  max-width: 100%;
  background-size: contain;
  height: 514px;
  text-align: center;
  margin: auto;
  background: url("/assets/home-page.png") no-repeat center top;
  padding-top: 298px;
  > a {
    display: inline-block;
    margin: 0 15px;
    width: 220px;
    height: 47px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    &:first-child {
      background-image: url("/assets/start-your-fundraiser.png");
    }
    &:last-child {
      background-image: url("/assets/add-your-charity.png");
    }
  }
}