.pages.how-it-works{
  h1{
    font-size: 60px;
    font-style: normal;
    letter-spacing: -1px;
    margin: 30px 0 20px;
  }
  .steps{
    .row{
      margin-bottom: 20px;
    }

    h2{
      font-size: 24px;
      color: #34af9c;
      font-weight: normal;
    }

    .step-1 h2{ margin-top: 20px; }
    .step-2 h2{ margin-top: 6px; }
    .step-3 h2{ margin-top: 1px; }
    .step-4 h2{ margin-top: 25px; }

    p{
      font-size: 18px;
      color: #5c5d60;
    }
  }

  .faqs{
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #eee;

    h3{
      font-size: 18px;
    }
  }
  
}