!!!
%html
  %head
    %title= content_for?(:page_title) ? "#{ yield(:page_title)}" : 'Frundraise'
    = javascript_include_tag "https://js.stripe.com/v2/"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-50599523-1', 'frundraise.com');
      ga('send', 'pageview');
     
      

    - if content_for?(:social_image)
      %meta{content: "#{ yield(:social_image)}" , property: "og:image"}/
    
    - if content_for?(:social_title)
      %meta{content: yield(:social_title).html_safe, property: "og:title"}/

    %meta{content: "Frundraise", property: "og:site_name"}/


    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
    = csrf_meta_tags
  %body{ class: content_for?(:body_class) ? "#{ yield(:body_class)}" : '' }
    #header
      .container
        .site-title
          = link_to "fRundraise", root_path
        .login
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete do
              %span.glyphicon.glyphicon-user
              Sign out
          - elsif devise_controller?   
          - else
            = link_to new_user_session_path do
              %span.glyphicon.glyphicon-user
              Sign in

        .middle-box
          .nav-menu
            = render 'shared/top_bar'    
        
    :erb
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=868321799980028";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    
    - if notice || alert
      .container{ style: 'margin-top: 20px;'}
        - if notice
          .alert.alert-info= notice.html_safe
        - if alert
          .alert.alert-danger= alert
    = yield
    
    #footer.container.p10
      .row
        .col-sm-6
          = link_to 'About Us', '/about'
          = link_to 'Terms & Conditions', '/terms'
        .col-sm-6.text-right
          Copyright 2014 - All Rights Reserved Frundraise
          %span#siteseal
            %script{:src => "https://seal.godaddy.com/getSeal?sealID=s3pPlJjckId4081mMxbmg5x49leXCLNAlM2Zm5xCGoDZhMFUFUq3xuxw7YbC", :type => "text/javascript"}
    #feedback
      -# :erb
      -#   <a href="#feedback_modal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
      = link_to 'Feedback', '#feedback_modal', data: { toggle: "modal" }, class: 'btn'
    
    #feedback_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      = form_for(Feedback.new,:html=>{:class=>"validate_form"}) do |f|
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
              %h4#myModalLabel.modal-title Feedback
            .modal-body
              %p Please help us get better by telling us what we could improve upon and what features you would like us to add next.
              = f.label :comment
              = f.text_area :comment, class: 'form-control required',"data-msg-required"=>"Please enter feedback"
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
              = f.submit 'Send Feedback', class: 'btn btn-primary'
